<header id="header">
    <a href="/">
      <div id="title">
          <svg class="logo">
              <use xlink:href="/logo/lg-larsgerber.svg#Layer_1"></use>
          </svg>
      </div>
    </a>
</header>
