<!DOCTYPE html>
<html lang="de" itemscope itemtype="http://schema.org/BlogPosting">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    
    <!-- Title -->
    <% if (null == data.title) { %> 
    <title>Blog | Lars Gerber</title>
    <% } else { %> 
    <title>Blog | <%= data.title %></title>
    <% } %>
    

    <!-- Favicons -->
    <meta name="apple-mobile-web-app-title" content="blog.larsgerber.ch">
    <meta name="application-name" content="blog.larsgerber.ch">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="194x194" href="/icon/favicon-194x194.png?v=1">
    <link rel="icon" type="image/png" sizes="192x192" href="/icon/android-chrome-192x192.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png?v=1">
    <link rel="manifest" href="/icon/site.webmanifest?v=1">
    <link rel="mask-icon" href="/icon/safari-pinned-tab.svg?v=1" color="#000000">
    <link rel="shortcut icon" href="/icon/favicon.ico?v=1">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icon/mstile-144x144.png?v=1">
    <meta name="msapplication-config" content="/icon/browserconfig.xml?v=1">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Blog of Lars Gerber">


    <!-- JS Files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/assets/js/main-min.js"></script>
   

    <!-- CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" integrity="sha512-xnwMSDv7Nv5JmXb48gKD5ExVOnXAbNpBWVAXTo9BJWRJRygG8nwQI81o5bYe8myc9kiEF/qhMGPjkSsF06hyHA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/style.css">


    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://blog.larsgerber.ch/">
    <meta property="og:title" content="Lars Gerber">
    <meta property="og:description" content="Blog of Lars Gerber">
    <meta property="og:image" content="https://res.cloudinary.com/larsgerber-ch/image/upload/c_scale,h_500/v1/my-keystone-app/60c8f84299ae160455b4affe.jpg">

    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://blog.larsgerber.ch/">
    <meta property="twitter:title" content="Lars Gerber">
    <meta property="twitter:description" content="Blog of Lars Gerber">
    <meta property="twitter:image" content="https://res.cloudinary.com/larsgerber-ch/image/upload/c_scale,h_500/v1/my-keystone-app/60c8f84299ae160455b4affe.jpg">
</head>

<body class="max-width mx-auto px3">
    <div class="content py4">