<%- include('../partials/head'); -%>

<section id="writing">
    <ul class="post-list">
        <h1 class="error">403</h1>
        <h4>This browser is no longer supported.</h4>
        <br />
        <br />
        Click <a href="https://www.mozilla.org/de/firefox/new/">here</a>
        to download Firefox.
    </ul>
</section>

<%- include('../partials/footer'); -%>