<%- include('../partials/head'); -%>
<%- include('../partials/header'); -%>

<section id="writing">
    <ul class="post-list">
        <h1 class="error">404</h1>
        <h4>Der Link ist möglicherweise ungültig oder der Beitrag wurde entfernt.</h4>
        <br />
        <br />
        <a href="/">zurück</a>
    </ul>
</section>

<%- include('../partials/footer'); -%>