<%- include('../partials/head'); -%>
<%- include('../partials/header'); -%>

<section id="writing">
    <ul class="post-list">
        <h1 class="error">404</h1>
        <h4>The link may be invalid or the post has been removed.</h4>
        <br />
        <br />
        <a href="/">back</a>
    </ul>
</section>

<%- include('../partials/footer'); -%>
