<%- include('../partials/head'); -%>

<section id="writing">
    <ul class="post-list">
        <h1 class="error">422</h1>
        <h4>Dieser Browser wird leider nicht mehr unterstützt.</h4>
        <br />
        <br />
        <a href="https://www.google.com/intl/de/chrome/">Chrome</a>
        oder
        <a href="https://www.mozilla.org/de/firefox/new/">Firefox</a>
        herunterladen.
    </ul>
</section>

<%- include('../partials/footer'); -%>