<%- include('../partials/head'); -%>
<%- include('../partials/header'); -%>

<section id="writing">
    <ul class="post-list">
        <h1 class="error">503</h1>
        <h4>Internal Sever Error</h4>
        <br />
        <a href="/">try again</a>
        or
        <a href="https://larsgerber.ch/contact">contact me</a>
    </ul>
</section>
        
<%- include('../partials/footer'); -%>