<%- include('../partials/head'); -%>
<%- include('../partials/header'); -%>

<section id="writing">
    <ul class="post-list">
        <h1 class="error">503</h1>
        <h4>Internal Sever Error</h4>
        <br />
        <br />
        <a href="javascript:window.location.href=window.location.href">try again</a>
        or
        <a href="mailto:monitoring@larsgerber.ch">contact me.</a>
    </ul>
</section>

<%- include('../partials/footer'); -%>