<%- include('../partials/head'); -%>
<%- include('../partials/header'); -%>

<section id="writing">
    <ul class="post-list">
        <h1 class="error">504</h1>
        <h4>Die Datenbank ist derzeit nicht verfügbar!</h4>
        <br />
        <br />
        <a href="javascript:window.location.href=window.location.href">erneut versuchen</a>
        oder
        <a href="mailto:admin@larsgerber.ch">mich kontaktieren</a>
    </ul>
</section>

<%- include('../partials/footer'); -%>