<%- include('../partials/head'); -%>

<body class="max-width mx-auto px3 ltr">
    <div class="content index py4">
        
        <%- include('../partials/header'); -%>

        <section id="writing">
            <ul class="post-list">
                <h1 class="error">504</h1>
                <h4>The database is currently unavailable!</h4>
                <br><a href="/">try again</a> or <a href="https://larsgerber.ch/contact">contact me</a>
            </ul>
        </section>
    </div>
</body>